{% extends "base.html" %}

{% block breadcrumb %}
{% include 'orden/snippets/breadcrumb.html' %}
{% endblock %}

{% block content %}

<div class="col-8">
    <div class="h3">
        Confirmacion de pedido
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="badge bg-primary text-wrap">
                        Direccion de envio
                    </div>
                    <div class="fst-italic">
                        Direccion: {{direccion_envio.direccion}}
                    </div>
                    <div class="fst-italic">
                        Domicilio: {{direccion_envio.line1}}
                    </div>
                    <div class="fst-italic">
                        Referencia: {{direccion_envio.reference}}
                    </div>
                    <div class="fst-italic">
                        Codigo Postal: {{direccion_envio.postal_code}}
                    </div>
                </div>
                <div class="col-4">
                    <div class="badge bg-danger text-wrap">
                        Metodos de pago
                    </div>
                    <div class="fst-italic">
                        Tarjeta de pago: 123
                    </div>
                </div>
                <div class="col-4">
                    <div class="badge bg-warning text-wrap">
                        Codigo de descuento
                    </div>
                    <form id="formPromo-codigo" action="{% url 'validar' %}">
                        <input type="text" name="codigo" value="{{orden.promo_codigo.codigo}}" class="form-control" placeholder="Codigo Descuento" {% if orden.promo_codigo %} readonly {% endif %}>
                    </form>
                    <div class="text-success" id="codigosuccess" style="font-size: 15;">
                        {% if orden.promo_codigo %}
                        Codigo aplicado
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-primary" role="alert">
        Esta es tú orden hasta el momento <a href="{% url 'orden' %}" class="alert-link">Mi orden</a>
        puedes modificarla si quieres
    </div>
    <div class="mt-1">
        <div class="card">
            <div class="card-body">
                {% for product in cart.products.all %}
                {% include 'orden/snippets/product.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="col">
    {% url 'completado' as next_url %}
    {% include 'orden/snippets/detalles.html' with next_url=next_url %}
    <div class="">
        <div class="card card border-warning mb-3" style="width: 18rem;">
            <div class="card-body">
                <a class="btn btn-danger d-grid gap-2" href="{% url 'cancelar' %}">Eliminar orden</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script>
    const form = document.getElementById('formPromo-codigo')

    form.addEventListener('submit', function(e){
        e.preventDefault();
        const input = this.codigo
        const codigo = input.value
        const url = this.action + '?code=' + codigo
        const cont_total = document.getElementById('orden-total')
        const cont_success = document.getElementById('codigosuccess')

        console.log(url);

        fetch(url)
            .then(response => response.json())
            .then(response => {
                if (response.status === true){
                    cont_total.innerHTML = "$" + response.total
                    cont_success.classList.remove('text-danger')
                    cont_success.classList.add('text-success')
                    cont_success.innerHTML = 'Codigo Aplicado'
                    //bloquea el campo si el codigo se aplica correctamente
                    input.setAttribute('readonly', true)
                }else{
                    cont_success.innerHTML = 'Codigo no valido'
                    cont_success.classList.remove('text-success')
                    cont_success.classList.add('text-danger')
                }
            })
    })
</script>

{% endblock %}